#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}z
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.input-label {
  color: #663399;
  font-size: 18px;
  margin-bottom: 10px;
}

.input-field {
  background-color: #f2e6ff;
  border: 1px solid #b38fd9;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 3px;
}

.submit-button {
  background-color: #9933cc;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #800080;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.formulario {
  margin-bottom: 20px;
}

h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #c47cf5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}